# EMBEDDING_MODEL=BAAI/bge-base-en-v1.5
EMBEDDING_MODEL=models/bge-base-en-v1.5  ### using locally downloaded model
BATCH_SIZE=32  ### got better time among 32, 64, 128, 256, 512, 1024
# BATCH_SIZE=256   ### to speed up the embedding process, we can increase the batch size .. and benchmark the performance
DEVICE=cpu
HF_HUB_OFFLINE=1
